<app-menu-title></app-menu-title>

<div class="container articles">
  <div class="articles main">
    <app-big-card
      id="1"
      imageCover="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="HOMEM DE FERRO ANUNCIADO PELA MARVEL"
      cardDescription="Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla"
    ></app-big-card>
  </div>

  <div class="articles others">
    <app-small-card
      id="2"
      imageCover="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versão do AngularSaiu a nova versão do Angular"
    ></app-small-card>
    <app-small-card
      id="3"
      imageCover="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versão do AngularSaiu a nova versão do Angular"
    ></app-small-card>
    <app-small-card
      id="4"
      imageCover="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      cardTitle="Saiu a nova versão do AngularSaiu a nova versão do Angular"
    ></app-small-card>
  </div>
</div>
