.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35rem;
    height: 50rem;
}

.image {
    width: 100%;
}

.image > img {
    width: 100%;
}

.title > h1 {
    margin-top: 1.5rem;
    font-size: 2.8rem;
}

.description {
    margin-top: 1rem;
}

.description > p > a {
    color: #808080;
}
