<div class="container big-card">
  <div class="image big-card">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/240_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt="Imagem Placeholder"
    />
  </div>
  <div class="title big-card">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="description big-card">
    <p>
      <a href="#">
        bla bla bla bla blala bla bla bla bla bla b bla b bla b bla bla bla bla
        bla bla bla b bla b bla b bla bla bla bla bla bla bla b bla b bla b bla
        bla bla bla bla bla bla b bla b bla b bla bla bla bla bla bla bla b bla
        b bla b bla bla bla bla bla bla bla b bla b bla b bla bla bla bla bla
        bla bla b bla b bla b bla bla bla bla bla bla bla b bla b bla b bla bla
        bla bla bla bla bla b bla b bla b bla b bla b bla b bla b bla bla bla
        bla bla bla bla b bla b bla b bla b
      </a>
    </p>
  </div>
</div>
